<div [ngSwitch]="(content | async).length > 0">
  <div *ngSwitchCase="true">
    <button (click)="reset()">Reset</button>
    <app-tabs>
      <app-tab *ngFor="let tabData of content | async" [id]="tabData.id">
        {{ tabData.title }}
      </app-tab>
      <app-tab-content *ngFor="let tabData of content | async" [id]="tabData.id">
        <span [innerHTML]="tabData.content"></span>
      </app-tab-content>
    </app-tabs>
  </div>

  <button *ngSwitchDefault (click)="populateContent()">Populate</button>
</div>



<!-- Uncomment to see data model -->
<!-- <hr>
<code>
  <pre>{{ content | async | json }}</pre>
</code> -->
